* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
}

.navbar-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nameDiv {
  white-space: nowrap;
}

.card {
  min-width: 300px;
}

#totalShows {
  position: absolute;
  right: 0;
}

.card-img {
  max-height: 241px;
  min-width: 241px;
}

.popup-section {
  margin: 0 auto;
}

.show-image {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.show-name {
  text-align: center;
}

.add-comment-container {
  display: flex;
  flex-direction: column;
}

.summary-container {
  display: flex;
  flex-direction: row;
}

.commentPopup-button {
  width: 30%;
}

.add-comment-form {
  display: flex;
  flex-direction: column;
}

#user-element {
  margin-bottom: 1rem;
  width: 20rem;
  height: 3rem;
  padding: 1rem;
  font-size: 1rem;
}

#comment-message {
  margin-bottom: 10px;
}
